{% extends 'home/base.html' %}
{% load static %}
{% block title %} Success! {% endblock %}


{% block content %}

    <!-- Card Grid -->
    <div class="container content-space-2 content-space-lg-3" id="blogSection">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5">
        <h2>Success!</h2>
        <p>Thanks for contacting us. We'll reach back out within 1-2 business days.</p>
        </div>
        <!-- End Heading -->

        </div>

    </div>
    <!-- End Card Grid -->

{% endblock %}